<html>
  <head>
	<%= stylesheet_link_tag "main" %>
  </head>
  <body>
	<div id="wrapper">
	<h1><%= image_tag "https://si3.twimg.com/profile_images/1362935298/__________2011-05-21_15.05.30_.png", :size => "70x80" %> Juiz in CSS</h1>
	<h3>Requests:</h3>
	<% @requests.each do |r| %>
	  <b><%= image_tag r.profile_image_url %> <%= r.noblesse %> <%= link_to "("+r.tweet_datetime+")", "https://twitter.com/#!/"+r.noblesse+"/status/"+r.tweet_id %>: </b>
	  <div class = "tweet"><%=h r.tweet %></div>
	  <% unless r.tweet_url == nil %>
	  <div class="tweet" style="margin-left: 50px;"> <%= image_tag "https://si3.twimg.com/profile_images/1362935298/__________2011-05-21_15.05.30_.png", :size => "35x40" %> <%=h r.tweet_url %></div>
	  <% end %>
	  <%= form_tag :action => "noblesse_oblige" do %>
	    <%= hidden_field_tag "request_tweet_id", r.tweet_id %>
		<%= hidden_field_tag "request_id", r.id %>
		<%= hidden_field_tag "request_user", r.noblesse %>
		<b>Response (via Juiz):</b><br>
	    <%= text_field_tag 'tweet', "",{:size=>120, :maxlength=>100} %> <%= submit_tag "noblesse oblige" %>
	  <% end %><br><br>
	<% end %>

	<%= link_to "※ ジュイスの台詞の例一覧", "http://www36.atwiki.jp/higashino_eden/pages/54.html" %>
	</div>
  </body>
</html>
